[Unit]
Description=Phreak my Wi-Fi service
Requires=NetworkManager.service
After=network-online.target

[Service]
Restart=always
RestartSec=1
Environment=RUST_LOG=debug
Environment=SIP_USERNAME=1102
Environment=SIP_PASSWORD=supersupersecuresecret
ExecStart=/home/recurse/goertzel

[Install]
WantedBy=multi-user.target
