[Unit]
Description=Phreak my Wi-Fi service
Requires=NetworkManager.service
After=network-online.target

[Service]
Restart=on-failure
RestartSec=20
Environment=RUST_LOG=debug
Environment=SIP_SERVER_ADDRESS=192.168.12.182:5060
Environment=SIP_USERNAME=1103
Environment=SIP_PASSWORD=supersupersecuresecret
ExecStartPre=/bin/sleep 30
ExecStart=/home/recurse/goertzel

[Install]
WantedBy=multi-user.target
